<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello {{user}}</title>

    <style>
        body {
            text-align: center;
        }

        img {
            width: 15%;
            border-radius: 50px;
        }

        h1 {
            text-align: center;
            margin-top: 5%;
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <img src="https://metabiomedamericas.com/wp-content/uploads/2018/05/facebook-avatar.jpg">
    <h1>Hello {{userName}}</h1>
    <a href="/">Go to Home Page</a>
</body>
</html>